<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="blocks/general.html :: header0">
</div>

<div class="basket_container">
    <div th:each="purchase : ${basket}" class="basket_card">
        <div class="delete-btn">
            <form th:method="POST" th:action="@{/basketDeletePurchase}">
                <button name="delButton" th:value="${purchase.getId}">X</button>
            </form>
        </div>
        <img th:src="${ItemService.getItemById(purchase.getItemId()).getCoverLink()}" onerror="this.src='img/no-cover.gif'" height="300px" width="200px">
        <p th:text="${ItemService.getItemById(purchase.getItemId()).getItemName()}"/>
        <p th:text="${ItemService.getItemById(purchase.getItemId()).getPrice()}+'Р'" />
        <div class="minus-btn">
            <form th:method="POST" th:action="@{/basketDecrPurchase}">
                <button name="decrButton" th:value="${purchase.getId}">-</button>
            </form>
        </div>
        <p th:text="${purchase.getItemCount()}"/>
        <div class="plus-btn">
            <form th:method="POST" th:action="@{/basketIncrPurchase}">
                <button name="incrButton" th:value="${purchase.getId}">+</button>
            </form>
        </div>

    </div>
    <div class="total-price">
    <p th:text="'Итого: ' + ${basketPrice} + 'Р'"></p>
    </div>
        <CENTER><input type="submit" value="Оформить заказ"/></CENTER>
</div>
</body>
</html>